.about-us {
  position: relative;
  /* width: 100%; */
  height: fit-content;
  margin-top: calc(var(--header-height) + 26px);
  overflow-x: hidden;
  overflow-y: visible;
}

.about-us :where(> div:not([class$='box']), * div:not([class$='box'])) {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* .about-us > div:not([class$='box']),
.about-us * div:not([class$='box']) {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
} */

.bg {
  position: absolute;
  max-height: 907px;
  inset: 0 -1px;
  top: 186px;
}

.about-box {
  position: relative;
  display: flex;
  flex-direction: row;
  width: clamp(100rem, 100rem + 18vw, calc(1920px - calc(410px * 2)));
  /* gap: 90px; */
  justify-content: space-between;
  margin: 0 auto;
  height: 1080px;
}

.slogan {
  display: flex;
  flex-direction: column;
  gap: 7px;
  height: 200px;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 509px;
  user-select: none;
  color: #53575a;
}

.slogan .text-zhtw {
  font-family: 'Times New Roman', serif;
  letter-spacing: 9px;
  font-size: 40px;
  font-weight: bold;
}

.slogan .text-en {
  font-family: serif;
  font-size: 26px;
  letter-spacing: 5.3px;
}


.welcome {
  position: relative;
  margin: 241px auto 0;
  object-fit: contain;
  width: 100%;
}

.musense-can-help {
  position: relative;
  /* width: 266px;
  height: 66px; */
  margin: 134px auto 0;
  /* background-image: url(/assets/index/musenseCanHelp.webp); */
}

.reply {
  position: relative;
  /* width: 832px;
  height: 74px; */
  margin: 47px auto 0;
  /* background-image: url(/assets/index/reply.webp); */
  width: clamp(70rem, 70rem + 7vw, 832px);
}
.triangle-box-blue{
  display: none;
}
.triangle-box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% - 348px - 280px);
  height: fit-content;
  margin: 36px auto 0;
  gap: 110px;
}

.triangle-range-orange-right,
.triangle-range-orange-left {
  position: inherit;
  width: 230px;
  height: 31px;
}

.triangle-range-orange-right {
  margin-left: auto;
  margin-right: 0;
  /* background-image: url(/assets/index/triangleRangeOrange_right.webp); */
}

.triangle-range-orange-left {
  margin-left: 0;
  /* background-image: url(/assets/index/triangleRangeOrange_left.webp); */
}

@media (max-width: 1200px) {

  .about-box {
    width: 100vw;
    flex-direction: column;
    align-items: center;
  }

  .welcome {
    margin-top: 40px;
    width: 90vw;
  }

  .triangle-box-blue{
    width: 80vw
  }
  .triangle-box {
    width: 80vw;
  }

  .slogan {
    /* background-image: url(/assets/mobile/about/slogan.webp); */
    height: 10rem;
    margin: 1rem auto;
    width: 100vw;
    /* background-image: unset; */
    /* background-color: lightgrey; */
  }

  .slogan .text-zhtw {
    font-size: 4rem;
    letter-spacing: 0.9rem;
  }

  .slogan .text-en {
    font-family: sans-serif;
    font-size: 1.7rem;
    letter-spacing: 5.3px;
    white-space: normal;
    line-height: 1.5;
    width: 26rem;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .about-us {
    margin-top: var(--header-height);
  }

  .about-box {
    width: 100%;
    height: fit-content;
    gap: 2rem;
    flex-direction: column-reverse;
    margin-top: 11.5rem;
  }

  .slogan {
    height: 10rem;
    margin: 1rem auto;
    width: 100vw;
  }

  .slogan .text-zhtw {
    font-size: 3rem;
    letter-spacing: 0.9rem;
  }

  .slogan .text-en {
    font-family: sans-serif;
    font-size: 1.7rem;
    letter-spacing: 5.3px;
    white-space: normal;
    line-height: 1.5;
    width: 26rem;
    margin: 0 auto;
  }

  .top-image {
    position: relative;
    height: 23rem;
    width: 29rem;
    margin: 0 auto;
    /* background-image: url(/assets/mobile/about/topImage.webp); */
  }

  .bg {
    /* background-image: url(/assets/mobile/about/top_bg_decorate.webp); */
    width: calc(114rem / 3);
    height: calc(39rem / 3);
    top: 0;
  }

  .welcome {
    position: relative;
    width: 100%;
    height: 1.2rem;
    margin: 5rem auto 0;
    /* background-image: url(/assets/mobile/about/welcome.webp); */
  }

  .musense-can-help {
    position: relative;
    width: 19rem;
    height: 2rem;
    margin: 8rem auto 0;
    /* background-image: url(/assets/mobile/about/musenseCanHelp_ch.webp); */
  }

  .reply {
    position: relative;
    margin: 9rem auto 0;
    /* background-image: url(/assets/mobile/about/reply.webp); */
  }

  .reply::before,
  .reply::after {
    content: '';
    position: absolute;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    left: 50%;
    transform: translateX(-50%);
  }

  .reply::before {
    width: 11rem;
    height: 3rem;
    bottom: 4rem;
    /* background-image: url(/assets/mobile/about/deco_orange.webp); */
  }

  .reply::after {
    width: 35rem;
    height: 1rem;
    top: 2.6rem;
    /* background-image: url(/assets/mobile/about/reply_sub.webp); */
  }

  .triangle-box-blue,
  .triangle-box {
    position: relative;
    display: block;
    /* background-image: url(/assets/mobile/about/deco_blue.webp); */
    margin: unset;
    margin-top: 6rem;
  }

  .triangle-box>div,
  .triangle-box>img {
    display: none;
  }
}

.logo-color {
  width: 186px;
  background-image: url(./../../../assets/logo/logo_color.svg);
  height: 42px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 24px;
}

/* .bg-container {
  right: 0;
} */

/* @media (min-width: 768px) {
  .bg-container {
    right: calc(0px - (1920px - 100vw) / 1920 * 800);
  }
} */

.bg1 {
  background-image: url(./../../../assets/index/about_bg_1.svg);
  width: 70px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: 300px;
  top: -60px;
  position: absolute;
}

.bg2 {
  background-image: url(./../../../assets/index/about_bg_2.svg);
  width: 180px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: 603px;
  top: -27px;
  position: absolute;
}


.bg12 {
  background-image: url(./../../../assets/index/about_bg_12.svg);
  width: 819px;
  height: 406px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 200px;
  top: 341px;
}

.bg3 {
  background-image: url(./../../../assets/index/about_bg_3.png);
  width: 600px;
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 280px;
  top: 200px;
}

.bg4 {
  position: absolute;
  background-image: url(./../../../assets/index/about_bg_4.svg);
  width: 150px;
  height: 159px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  top: 500px;
}

.bg5 {
  position: absolute;
  background-image: url(./../../../assets/index/about_bg_5.svg);
  width: 90px;
  height: 90px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: 184px;
  top: 390px;
}

.bg6 {
  position: absolute;
  background-image: url(./../../../assets/index/about_bg_6.svg);
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  left: 481px;
  top: 245px;
}

.logo-white {
  background-image: url(./../../../assets/logo/logo_white_2.svg);
  width: 110px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}

.bg7 {
  background-image: url(./../../../assets/index/about_bg_7.svg);
  width: 1011px;
  height: 262px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  align-self: flex-start;
}

.bg8 {
  position: relative;
  background-image: url(./../../../assets/index/about_bg_8.svg);
  width: 2000px;
  height: 1055px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}

.contact-button {
  background: #ED781E;
  width: 330px;
  height: 73px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  margin-top: 70px;
  border-radius: 999px;
}

.contact-button-icon {
  color: #fff;
  display: flex;
  font-size: 32px;
  padding-left: 74px;
  align-items: center;
  justify-content: center;
  background-image: url(./../../../assets/logo/logo_circle.svg);
  width: 100%;
  height: 100%;
}

.bg9 {
  bottom: 30px;
  position: absolute;
  right: 510px;
  background-image: url(./../../../assets/index/about_bg_9.svg);
  width: 40px;
  height: 900px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  /* margin-top: 110px; */
}

.bg10 {
  position: absolute;
  background-image: url(./../../../assets/index/about_bg_10.svg);
  width: 400px;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: -131px;  
  left: 497px;
}

.bg11 {
  position: absolute;
  background-image: url(./../../../assets/index/about_bg_11.svg);
  width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: -130px;
  right: 586px;
}

.bg13 {
  background-image: url(./../../../assets/index/about_bg_13.svg);
  width: 3667px;
  height: 1843px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: -180px;
  bottom: 0px;
  transform: translateY(50%);
}

.bg14 {
  background-image: url(./../../../assets/index/about_bg_14.svg);
  width: 900px;
  height: 240px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bg15 {
  background-image: url(./../../../assets/index/about_bg_15.svg);
  width: 900px;
  height: 240px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bg16 {
  background-image: url(./../../../assets/index/about_bg_16.svg);
  width: 920px;
  height: 255px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bg17 {
  background-image: url(./../../../assets/index/about_bg_17.svg);
  width: 920px;
  height: 128px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
