.logo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.partner-item-46 {
  background-image: url(./../../../assets/partners/PICKME_WEB-46.svg);
}

.partner-item-47 {
  background-image: url(./../../../assets/partners/PICKME_WEB-47.svg);
}

.partner-item-48 {
  background-image: url(./../../../assets/partners/PICKME_WEB-48.svg);
}

.partner-item-49 {
  background-image: url(./../../../assets/partners/PICKME_WEB-49.svg);
}

.partner-item-50 {
  background-image: url(./../../../assets/partners/PICKME_WEB-50.svg);
}

.partner-item-51 {
  background-image: url(./../../../assets/partners/PICKME_WEB-51.svg);}

.partner-item-52 {
  background-image: url(./../../../assets/partners/PICKME_WEB-52.svg);
}

.partner-item-53 {
  background-image: url(./../../../assets/partners/PICKME_WEB-53.svg);
}

.partner-item-54 {
  background-image: url(./../../../assets/partners/PICKME_WEB-54.svg);
}

.partner-item-55 {
  background-image: url(./../../../assets/partners/PICKME_WEB-55.svg);
}

.partner-item-56 {
  background-image: url(./../../../assets/partners/PICKME_WEB-56.svg);
}

.partner-item-57 {
  background-image: url(./../../../assets/partners/PICKME_WEB-57.svg);
}

.partner-item-58 {
  background-image: url(./../../../assets/partners/PICKME_WEB-58.svg);
}

.partner-item-59 {
  background-image: url(./../../../assets/partners/PICKME_WEB-59.svg);
}

.partner-item-60 {
  background-image: url(./../../../assets/partners/PICKME_WEB-60.svg);
}

.partner-item-61 {
  background-image: url(./../../../assets/partners/PICKME_WEB-61.svg);
}

.partner-item-62 {
  background-image: url(./../../../assets/partners/PICKME_WEB-62.svg);
}

.partner-item-63 {
  background-image: url(./../../../assets/partners/PICKME_WEB-63.svg);
}

.partner-item-64 {
  background-image: url(./../../../assets/partners/PICKME_WEB-64.svg);
}

.partner-item-65 {
  background-image: url(./../../../assets/partners/PICKME_WEB-65.svg);
}

.partner-item-66 {
  background-image: url(./../../../assets/partners/PICKME_WEB-66.svg);
}

.partner-item-67 {
  background-image: url(./../../../assets/partners/PICKME_WEB-67.svg);
}

.partner-item-68 {
  background-image: url(./../../../assets/partners/PICKME_WEB-68.svg);
}

.partner-item-69 {
  background-image: url(./../../../assets/partners/PICKME_WEB-69.svg);
}

.partner-item-70 {
  background-image: url(./../../../assets/partners/PICKME_WEB-70.svg);
}

.partner-item-71 {
  background-image: url(./../../../assets/partners/PICKME_WEB-71.svg);
}

.partner-item-72 {
  background-image: url(./../../../assets/partners/PICKME_WEB-72.svg);
}

.partner-item-73 {
  background-image: url(./../../../assets/partners/PICKME_WEB-73.svg);
}

.partner-item-74 {
  background-image: url(./../../../assets/partners/PICKME_WEB-74.svg);
}

.partner-item-75 {
  background-image: url(./../../../assets/partners/PICKME_WEB-75.svg);
}

.partner-item-76 {
  background-image: url(./../../../assets/partners/PICKME_WEB-76.svg);
}

.partner-item-77 {
  background-image: url(./../../../assets/partners/PICKME_WEB-77.svg);
}

.partner-item-78 {
  background-image: url(./../../../assets/partners/PICKME_WEB-78.svg);
}

.partner-item-79 {
  background-image: url(./../../../assets/partners/PICKME_WEB-79.svg);
}

.partner-item-80 {
  background-image: url(./../../../assets/partners/PICKME_WEB-80.svg);
}

.partner-item-81 {
  background-image: url(./../../../assets/partners/PICKME_WEB-81.svg);
}

.partner-item-82 {
  background-image: url(./../../../assets/partners/PICKME_WEB-82.svg);
}

.partner-item-83 {
  background-image: url(./../../../assets/partners/PICKME_WEB-83.svg);
}

.partner-item-84 {
  background-image: url(./../../../assets/partners/PICKME_WEB-84.svg);
}

.partner-item-85 {
  background-image: url(./../../../assets/partners/PICKME_WEB-85.svg);
}

.partner-item-86 {
  background-image: url(./../../../assets/partners/PICKME_WEB-86.svg);
}

.partner-item-87 {
  background-image: url(./../../../assets/partners/PICKME_WEB-87.svg);
}

.partner-item-88 {
  background-image: url(./../../../assets/partners/PICKME_WEB-88.svg);
}

.partner-item-89 {
  background-image: url(./../../../assets/partners/PICKME_WEB-89.svg);
}

.partner-item-90 {
  background-image: url(./../../../assets/partners/PICKME_WEB-90.svg);
}