@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  overflow: auto;
  scroll-padding-top: 150px;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
}

:root {
  --header-height: 140px;
  --ourService-top: 95px;
  --banner-top-offset: calc(var(--header-height) + 44px);
  --clamp-line: 3;
  --header-z-index: 99999;
  --theme-color-hex: #f88d2a;
  --theme-color-rgb: 248, 141, 42;
  --header-btn-width: 11.5rem;
  --header-btn-height: 3.5rem;
  --h1-font-size: 3.5rem;
  --h2-font-size: 3rem;
  --h3-font-size: 2.5rem;
  --h4-font-size: 2rem;
  --normal-font-size: 2rem;
}


.content-main-content h4 {
  font-size: var(--h4-font-size);
  font-size: 2rem;
}

@font-face {
  font-family: 'Myriad';
  src: url('/fonts/MyriadVariableConcept-Roman.otf') format('opentype');
  font-display: swap;
}

/* 粉圓體 */
@font-face {
  font-family: 'Openhuninn';
  src: url('/fonts/jf-openhuninn-2.0.ttf') format('truetype');
  font-display: swap;
}

/* 台北TC */
@font-face {
  font-family: 'TaipeiSansTCBeta';
  src: url('/fonts/TaipeiSansTCBeta-Regular.ttf') format('truetype');
  font-display: swap;
}

/* 源雲明體 */
@font-face {
  font-family: 'GenRyuMin';
  src: url('/fonts/GenRyuMin-SB.ttc') format('collection');
  font-display: swap;
}


input:focus-visible,
textarea:focus-visible {
  outline: unset;
}

textarea {
  resize: none;
}

header {
  position: fixed;
  box-sizing: border-box;
  inset: 0;
  height: var(--header-height);
  box-shadow: 0px 5px 3px 0px #eee;
  background-color: #ED781E;
  z-index: var(--header-z-index);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  transition: top 0.2s ease-in;
}


header.show {
  top: 0;
}

#nav-backdrop {
  display: none;
}

nav {
  position: relative;
  display: inline-block;
  padding-bottom: 20px;
}

.nav-button {
  border: unset;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 11.5rem;
  height: 3rem;
  /* background-color: lightgrey; */
  cursor: pointer;
  justify-content: space-between;
  align-items: flex-end;
  user-select: none;
}

.nav-button>.bubble {
  background-repeat: no-repeat;
  background-size: contain;
  flex: 1 0;
  height: 21px;
  width: 22px;
}

.nav-button>.bubble.orange {
  background-image: url(./../assets/menu/bubbleOrange.webp);
}

.nav-button>.bubble.blue {
  background-image: url(./../assets/menu/bubbleBlue.webp);
}

.nav-button>.nav-text-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 4 0;
  white-space: nowrap;
  justify-content: flex-end;
  color: black;
  /* background-color: lightblue; */
}

.nav-text-wrapper>div:first-child {
  /* background-color: lightcoral; */
  letter-spacing: 3px;
  font-family: sans-serif;
  font-size: 12px;
}

.nav-text-wrapper>div:last-child {
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: normal;
  font-family: Openhuninn;
  /* background-color: beige; */
}

ul {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 38px;
  margin: 0;
  padding: 0;
}

li {
  position: relative;
  list-style: none;
  width: var(--header-btn-width);
  height: var(--header-btn-height);
}

button,
a {
  margin: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
  color: transparent;
  user-select: none;
}

a {
  text-decoration: none;
}

.navBtn {
  position: absolute;
  width: var(--header-btn-width);
  height: var(--header-btn-height);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  border: none;
}

.navBtn:focus-visible {
  outline: none;
}

.about {
  background-image: url(./../assets/menu/about.webp);
}

.service {
  background-image: url(./../assets/menu/service.webp);
}

.contact {
  background-image: url(./../assets/menu/contact.webp);
}

.marketing {
  background-image: url(./../assets/menu/marketing.webp);
}

.navbar-wrapper {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-between;
  /* gap: 245px;
  margin: 0 auto; */
  height: 100%;
}

.nav-button {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 11.5rem;
  height: 3.5rem;
  /* background-color: lightgrey; */
  cursor: pointer;
  justify-content: space-between;
  align-items: flex-end;
}

.nav-button>.bubble {
  background-repeat: no-repeat;
  background-size: contain;
  flex: 1 0;
  height: 21px;
  width: 22px;
}

.nav-button>.bubble.orange {
  background-image: url(./../assets/menu/bubbleOrange.webp);
}

.nav-button>.bubble.blue {
  background-image: url(./../assets/menu/bubbleBlue.webp);
}

.nav-button>.nav-text-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 4 0;
  /* background-color: lightblue; */
}

.nav-text-wrapper>div:first-child {
  /* background-color: lightcoral; */
  letter-spacing: 3px;
  font-family: sans-serif;
  font-size: 12px;
}

.nav-text-wrapper>div:last-child {
  /* background-color: lightcyan; */
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: bold;
  font-family: Openhuninn;
}

.banner-wrapper {
  position: relative;
  width: 100%;
  height: fit-content;
  top: var(--banner-top-offset);
  overflow-x: hidden;
  overflow-y: visible;
  filter: drop-shadow(4px 8px 8px rgba(0 0 0/0.3));
}

.banner {
  position: relative;
  margin: 0 auto;
  width: 939px;
  height: 353px;
  background-image: url('/assets/marketing/banner.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.marketing-banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 140px;
}

.marketing-banner+.btn-marketing-wrapper.upper {
  margin-top: 30px;
  gap: 5rem;
}

.marketing-banner+.btn-marketing-wrapper.upper+.card-wrapper {
  position: relative;
  height: 610px;
  top: unset;
  left: unset;
  transform: unset;
  margin: 20px auto 0;
}

.marketing-banner+.btn-marketing-wrapper.upper+.card-wrapper+.btn-marketing-wrapper.lower {
  position: relative;
  top: unset;
  left: unset;
  transform: unset;
  margin: 40px auto 0;
}

.marketing-banner+.btn-marketing-wrapper.upper+.card-wrapper+.btn-marketing-wrapper.lower+.hot-content-container {
  margin-top: 100px;
}

.btn-marketing-wrapper {
  position: relative;
  margin: 0 auto;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 34px;
}

.btn-marketing-wrapper.upper {
  margin-top: calc(var(--header-height) + 30px);
  gap: 34px;
}

.btn-marketing-wrapper.lower {
  position: absolute;
  margin: unset;
  top: 900px;
  left: 50%;
  transform: translateX(-50%);
  gap: 102px;
}

.btn-marketing-wrapper.upper::before {
  display: none;
}

.btn-marketing-wrapper.lower .btn-marketing {
  filter: drop-shadow(0px 4px 4px rgb(0 0 0/0.2));
}

.btn-marketing {
  --btn-marketing-height: 39px;
  --btn-marketing-width: 162px;
  --btn-marketing-border-width: 1px;
  color: grey;
  background-color: white;
  width: calc(var(--btn-marketing-width) + var(--btn-marketing-border-width)*2);
  height: var(--btn-marketing-height);
  border: var(--btn-marketing-border-width) solid var(--theme-color-hex);
  line-height: calc(var(--btn-marketing-height) - var(--btn-marketing-border-width) * 2);
  border-radius: 12px;
  font-size: 16px;
  font-family: Openhuninn;
  font-weight: bold;
  text-align: center;
  letter-spacing: 5px;
  padding-left: 5px;
  box-sizing: border-box;
}

.btn-marketing:disabled {
  background-color: #aaa;
  border-color: #aaa;
}

.btn-marketing.prev {
  margin-left: 0;
  margin-right: auto;
}

.btn-marketing.next {
  margin-left: auto;
  margin-right: 0;
}

.btn-marketing:not(div).active {
  background-color: var(--theme-color-hex);
  color: white;
}

.btn-marketing.spots {
  --btn-marketing-spots-width: 332px;
  --btn-marketing-spots-offset: calc(-1*var(--btn-marketing-spots-width));
  border: unset;
  width: 400px;
  font-size: 36px;
  line-height: 1.2;
}

.btn-marketing.spots::before,
.btn-marketing.spots::after {
  content: "";
  display: block;
  position: absolute;
  width: var(--btn-marketing-spots-width);
  height: 115px;
  top: 50%;
  transform: translateY(-50%);
  background-size: contain;
  background-position: top center, 50%, 50%;
  background-repeat: no-repeat;
}

.btn-marketing.spots::before {
  background-image: url(./../assets/marketing/morePage_spot.webp);
  left: var(--btn-marketing-spots-offset);
}

.btn-marketing.spots::after {
  background-image: url(./../assets/marketing/morePage_spot_right.webp);
  right: var(--btn-marketing-spots-offset);
}

.card-wrapper {
  --card-height: 275px;
  --card-wrapper-row-gap: 60px;
  --card-wrapper-repeat: 3;
  --card-wrapper-width: calc(370px * var(--card-wrapper-repeat));
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(var(--card-wrapper-repeat), 1fr);
  justify-items: center;
  align-items: self-start;
  width: var(--card-wrapper-width);
  row-gap: var(--card-wrapper-row-gap);
  opacity: 1;
}

.card-wrapper:has(h3) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: calc(var(--card-height) * 2 + var(--card-wrapper-row-gap));
}

.card-wrapper>h3 {
  color: grey;
  width: inherit;
  text-align: center;
  font-size: 48px;
  white-space: nowrap;
}

.card {
  position: relative;
  width: 314px;
  height: var(--card-height);
  cursor: pointer;
  overflow: hidden;
}

.card>div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-img {
  position: inherit;
  width: 100%;
  height: 178px;
  overflow: hidden;
  transform: scale(1);
  transition: transform 0.1s linear;
}

.card-wrapper.upper>.card>.card-img {
  background-image: url('/assets/marketing/image1.webp');
}

.card-wrapper.lower>.card>.card-img {
  background-image: url('/assets/marketing/image2.webp');
}

.card-content {
  position: inherit;
  height: 58px;
  box-sizing: border-box;
  font-size: 16px;
  letter-spacing: 3px;
  color: #53575a;
  text-align: left;
  overflow: hidden;
  line-height: 1.2;
  font-family: Openhuninn;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-footer {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Openhuninn;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1;
}

.card-tag {
  display: block;
  overflow: hidden;
  color: #f88d2a;
  background-color: #fff;
  padding-right: 30px;
  width: 230px;
  height: 11px;
}

.card-tag>span {
  display: inline-block;
  /* These have to be inline block to wrap correctly */
  position: relative;
  /* Give the ellipsis an anchor point so it's positioned after the element */
  background-color: #fff;
  /* Cover the ellipsis of the previous element with the same background color */
  white-space: pre;
  /* Make sure the only point where wrapping is allowed is before a comma */
}

.card-tag>span:after {
  position: absolute;
  /* Take the ellipsis out of the flow, so the next item will cover it */
  content: "…";
  /* Each span has an ellipsis */
}

.card-tag>span:last-child:after {
  content: "";
  /* Except for the last one */
}

.card-create-date {
  color: #53575a;
}

.hot-content-container {
  margin-top: 87rem;
}

.hot-content-container::before,
.hot-content-container::after {
  display: none;
}

.main,
.main-en {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.main {
  --hot-content-main-line-offset: -400px;
  --hot-content-line-width: 400px;
  height: 80px;
  width: 550px;
  top: 55px;
}

.hot-content-container .main {
  background-image: url(./../assets/marketing/title_popular_cn.svg);
}

.main::before,
.main::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: white;
  top: 50%;
  transform: translateY(-50%);
  width: var(--hot-content-line-width);
}

.main::before {
  left: var(--hot-content-main-line-offset);
}

.main::after {
  right: var(--hot-content-main-line-offset);
}

.main-en {
  height: 80px;
  width: 550px;
  top: 115px;
}

.hot-content-container .main-en {
  background-image: url(./../assets/marketing/title_popular_eg.svg);
}

.hot-content-wrapper {
  position: absolute;
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  top: 210px;
  width: -moz-fit-content;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  gap: 50px;
}

.hot-left-side,
.hot-right-side {
  position: relative;
  width: 450px;
  height: 360px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 0 25px 0 69px;
}

.hot-left-side>div,
.hot-right-side>div {
  height: 100px;
  margin-bottom: 20px;
  cursor: pointer;
}

.hot-content {
  position: relative;
  font-family: Openhuninn;
  padding-top: 17px;
  font-size: 18px;
  height: 100px;
  letter-spacing: 1.8px;
  text-align: left;
  color: #fff;
  line-height: 1.2;
  box-sizing: border-box;
}

.hot-content::before {
  content: '';
  position: absolute;
  top: 17px;
  left: calc(-38px - 24px);
  width: 38px;
  height: 38px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hot-left-side>.hot-content:nth-child(1):before {
  background-image: url(./../assets/marketing/1_.webp);
}

.hot-left-side>.hot-content:nth-child(2)::before {
  background-image: url(./../assets/marketing/2_.webp);
}

.hot-left-side>.hot-content:nth-child(3)::before {
  background-image: url(./../assets/marketing/3_.webp);
}

.hot-right-side>.hot-content:nth-child(1)::before {
  background-image: url(./../assets/marketing/4_.webp);
}

.hot-right-side>.hot-content:nth-child(2)::before {
  background-image: url(./../assets/marketing/5_.webp);
}

.hot-right-side>.hot-content:nth-child(3)::before {
  background-image: url(./../assets/marketing/6_.webp);
}

.hot-content::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 448px;
  background-image: url(./../assets/marketing/line_black.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  bottom: 0;
  left: -68px;
}

.hot-content:last-child::after {
  display: none;
}

.btn-marketing-wrapper {
  position: relative;
  margin: 68px auto 0;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 81px;
}

.btn-marketing-wrapper.content {
  width: 410px;
  margin: auto;
  margin-bottom: 50px;
}

.btn-marketing-wrapper.content .btn-marketing {
  filter: drop-shadow(0px 4px 4px rgb(0 0 0/0.2));
}

.page-wrapper {
  position: absolute;
  margin: unset;
  top: 870px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 auto;
  justify-content: center;
  gap: 20px;
  width: fit-content;
  user-select: none;
  font-family: NotoSans-Regular;
}

.page-wrapper .page {
  position: relative;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 2px solid var(--theme-color-hex);
  color: var(--theme-color-hex);
  background-color: transparent;
}

.page-wrapper .page.prev,
.page-wrapper .page.next,
.page-wrapper .page.toFirst,
.page-wrapper .page.toLast {
  border: unset;
  color: #fff;
  background-color: #777;
}

.page-wrapper .page.toFirst,
.page-wrapper .page.toLast {
  width: 80px;
}

.page-wrapper button {
  background-color: transparent;
  color: var(--theme-red);
  font-size: 18px;
  display: block;
  padding: unset;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.page-wrapper .page:focus {
  outline: unset;
}

.page-wrapper+.btn-marketing-wrapper {
  top: 950px;
}

.page-wrapper .page.active {
  background-color: var(--theme-color-hex);
  color: #fff;
}

.top-banner-wrapper {
  position: relative;
  width: 100%;
  height: fit-content;
  margin-top: var(--banner-top-offset);
  overflow: hidden;
}

.top-banner-wrapper>img,
.top-banner-wrapper>div {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  position: relative;
}

.top-banner {
  margin: 0 auto;
  width: 1000px;
  height: 580px;
  overflow: hidden;
}

.top-banner * img {
  object-fit: cover;
}

.triangle-range_orange {
  margin: 25px auto 0;
}

.main-content-wrapper {
  position: relative;
  width: 1000px;
  margin: 33px auto 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Openhuninn;
}

.content-left-side {
  position: inherit;
  width: 740px;
  min-height: calc(100vh - var(--banner-top-offset) - 49px - 33px - 298px);
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.content-title {
  width: 100%;
  height: fit-content;
  font-size: 36px;
  letter-spacing: 3px;
  text-align: justify;
  color: #000;
  line-height: 1.2;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.content-title::after {
  display: none;
}

.content-misc {
  position: inherit;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 15px;

  margin-top: 30px;
  font-family: Openhuninn;
}

.content-date-wrapper {
  margin-left: auto;

  letter-spacing: 2px;
  position: relative;
  font-size: 13.5px;
  color: #f88d2a;
  white-space: nowrap;
}

.content-tags {
  --tag-size: 15px;
  --tag-column-gap: 28px;
  --tag-row-gap: 15px;
  width: 500px;
  position: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: var(--tag-column-gap);
  row-gap: var(--tag-row-gap);
  font-size: var(--tag-size);
}

.content-main-content {
  position: inherit;
  width: 100%;
  height: fit-content;
  margin-top: 26px;
  margin-bottom: 30px;
  letter-spacing: 2px;
  line-height: 1.2;
  text-align: left;
  font-family: Openhuninn;
}

.content-main-content .image {
  margin: unset;
}

.content-main-content img {
  width: initial;
  max-width: 100%;
  height: initial;
  object-fit: cover;
  object-position: center;
}

.content-main-content p {
  text-align: left;
  line-height: 1.5;
  font-size: var(--normal-font-size);
}

.content-main-content blockquote {
  font-size: var(--normal-font-size);
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

.content-main-content blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.content-main-content p.code {
  font-size: var(--normal-font-size);
  background-color: rgba(var(--theme-color-rgb), 0.3);
  border-radius: 2px;
  font-family: "Courier New", monospace;
  padding: 0 4px;
}

.content-main-content a {
  color: var(--theme-color-hex);
  text-decoration: underline;
  cursor: pointer;
}


.content-main-content h1 {
  font-size: var(--h1-font-size);
}

.content-main-content h2 {
  font-size: var(--h2-font-size);
}

.content-main-content h3 {
  font-size: var(--h3-font-size);
}

.content-main-content button {
  background-color: rgb(247, 229, 191);
  border: 1px solid var(--theme-color-hex);
  border-radius: 10px;
  padding: 5px 30px;
  box-sizing: border-box;
  height: 100%;
  font-weight: bolder;
  filter: drop-shadow(0 4px 1px rgb(229, 164, 60));
}

.content-main-content ul,
.content-main-content ol {
  display: block;
  margin: unset;
  padding-inline-start: 40px;
}

.content-main-content ul {
  list-style: disc;
}

.content-main-content ol {
  list-style-type: upper-roman;
}

.content-main-content ul li {
  list-style: none;
}

.content-main-content ol li {
  list-style: auto;
}

.content-main-content li {
  display: list-item;
  text-align: -webkit-match-parent;
  font-size: var(--normal-font-size);
  width: fit-content;
  height: auto;
  line-height: initial;
  margin-bottom: 0.5rem;
}

.content-main-content ul li:before {
  content: "";
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-left: -2.6rem;
  margin-right: 1.5rem;
  border-radius: 50%;
  background-size: contain;
  background-color: var(--theme-color-hex);
}

.content-main-content table,
.content-main-content th,
.content-main-content td {
  border: 1px solid black;
  text-align: -webkit-match-parent;
}

.content-main-content td {
  min-width: 50px;
  height: 50px;
  width: fit-content;
  padding: 0 5px;
}

.content-main-content table.left {
  margin-right: auto;
}

.content-main-content table.center {
  margin: 0 auto;
}

.content-main-content table.right {
  margin-left: auto
}

.content-main-content table {
  border-collapse: collapse;
}

.content-right-side {
  position: inherit;
  width: 154px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content-right-side.content {
  display: flex;
}

.content-right-side.bottom {
  display: none;
}

.hot-trend {
  position: inherit;
  width: 100%;
  height: 39px;
  background-image: url(./../assets/content/hot.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hot-tag-wrapper {
  position: inherit;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 100%;
  row-gap: 15px;
  justify-content: flex-start;
  font-size: 15px;
}

.hot-content-container,
.popular-content-container {
  position: relative;
  width: 100%;
  height: 583px;
  margin-bottom: -1px;
  background-color: var(--theme-color-hex);
}

.popular-content-container::before,
.popular-content-container::after {
  display: none;
}

.popular-content-container .main {
  background-image: url(./../assets/content/title_extend_cn.svg);
}

.popular-content-container .main-en {
  background-image: url(./../assets/content/title_extend_eg.svg);
  height: 80px;
  width: 550px;
  top: 115px;
}

.popular-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  gap: 10px;
  width: 540px;
  height: fit-content;
  position: absolute;
  top: 210px;
  left: 50%;
  transform: translateX(-50%);
}

.popular-content {
  width: 100%;
  margin-bottom: 20px;
}

.popular-content>div {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 37px;
  height: 93px;
  position: inherit;
  width: 100%;
  cursor: pointer;
}

.popular-content::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 448px;
  background-image: url(./../assets/content/line_black.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  cursor: auto;
}

.popular-content:last-child::after {
  display: none;
}

.popular-content-image {
  position: inherit;
  width: 138px;
  height: 92px;
  flex-shrink: 0;
}

.popular-content-title {
  position: relative;
  font-family: Openhuninn;
  font-size: 18px;
  letter-spacing: 1.8px;
  text-align: left;
  color: #fff;
  line-height: 1.2;
  box-sizing: border-box;
}

.tag {
  position: relative;
  color: #f88d2a;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  letter-spacing: 1px;
  white-space: nowrap;
  cursor: pointer;
}

.marketing-main-name {
  font-size: 40px;
  line-height: 1;
  text-align: center;
}

.bubble-box-mobile {
  display: none;
}

.bubble-box {
  position: relative;
  margin: 240px auto 0;
  width: clamp(70rem, 70rem + 23vw, 111rem);
  display: flex;
  flex-direction: column;
}

.bubble-box>div {
  position: inherit;
  display: flex;
  flex-direction: row;
  gap: 149px;
  width: fit-content;
}

.bubble-box>div:first-child {
  align-self: flex-start;
}

.bubble-box>div:last-child {
  align-self: flex-end;
  top: 20px;
}

.orange-bubble-right,
.orange-bubble-left,
.blue-bubble-right,
.blue-bubble-left {
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.8;
  user-select: none;
  width: 338px;
  height: 261px;
  filter: drop-shadow(3px 8px 8px rgba(0, 0, 0, 0.4));
}

.orange-bubble-right,
.orange-bubble-left {
  background-image: url(./../assets/index/orangeBubble.webp);
  color: var(--theme-color-hex);
}

.orange-bubble-right {
  padding: 104px 0px 0 14px;
  margin-right: 0;
}

.orange-bubble-left {
  padding: 104px 0px 0 24px;
  margin-left: 0;
}

.blue-bubble-right,
.blue-bubble-left {
  background-image: url(./../assets/index/blueBubble.webp);
  color: white;
}

.blue-bubble-right {
  padding: 91px 5px 0 0px;
  margin-left: auto;
}

.blue-bubble-left {
  padding: 89px 0px 0 5px;
  margin-left: auto;
}

[data-aos='orange-slide-left'],
[data-aos='blue-slide-left'] {
  transition-property: transform, opacity;
  transform: translateX(-500px);
  opacity: 0;
}

[data-aos='orange-slide-left'].aos-animate,
[data-aos='blue-slide-left'].aos-animate {
  transform: translateX(0);
  opacity: 1;
}

[data-aos='orange-slide-right'],
[data-aos='blue-slide-right'] {
  transition-property: transform, opacity;
  transform: translateX(500px);
  opacity: 0;
}

[data-aos='orange-slide-right'].aos-animate,
[data-aos='blue-slide-right'].aos-animate {
  transform: translateX(0);
  opacity: 1;
}

.footer-wrapper {
  position: relative;
  bottom: 0;
  height: 298px;
  background-color: #53575a;
  margin-top: 0;
  font-family: Openhuninn;
  letter-spacing: 4px;
  width: 100vw;
  margin-inline-start: 50%;
  transform: translateX(-50%);
}

.footer-wrapper.index-footer {
  margin-top: 80px;
}

.footer-wrapper.marketing {
  margin-top: 0;
}

.footer-wrapper.content {
  margin-top: -1px;
}

.footer-wrapper * div {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footer-box {
  position: absolute;
  margin-top: 57px;
  left: 50%;
  transform: translateX(-50%);
  width: var(--contact-us-width);
  display: flex;
  flex-direction: row;
  gap: clamp(0rem, 0rem + 10vw, 168px);
}

.left-side,
.right-side {
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 17px;
}

.left-side {
  width: 482px;
  font-size: 16px;
}

.right-side {
  width: 400px;
  font-size: 14px;
  justify-content: flex-end;
}

.button-box {
  position: inherit;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 143px;
  align-items: center;
}

.contact-us-btn {
  position: relative;
  width: 100%;
  height: 44px;
  color: white;
  font-size: 24px;
  line-height: 44px;
  text-align: center;
  white-space: nowrap;
  user-select: none;
}

.contact-us-btn::before,
.contact-us-btn::after {
  background-color: var(--theme-color-hex);
  border: 1px solid var(--theme-color-hex);
  border-radius: 2px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 126px;
}

.contact-us-btn::before {
  top: 0px;
}

.contact-us-btn::after {
  bottom: -0px;
}

.social-btn-box {
  position: relative;
  width: 100%;
  height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social-btn-box>a {
  position: relative;
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.fb-icon {
  background-image: url(./../assets/mobile/footer/FBIcon.svg);
}

.ig-icon {
  background-image: url(./../assets/mobile/footer/IGIcon.svg);
}

@media (hover:hover) {
  .page-wrapper .page:hover {
    background-color: var(--theme-color-hex);
    color: #fff;
  }

  .btn-marketing:not(div):hover {
    background-color: var(--theme-color-hex);
    color: white;
  }

  .card:hover .card-img {
    transform: scale(1.05);
  }

  .btn-marketing:disabled:hover {
    background-color: #aaa;
    border-color: #aaa;
    color: grey;
    cursor: not-allowed;
  }
}

@media (max-width: 1500px) {
  .bubble-box {
    width: 76vw;
  }

  .bubble-box>div {
    gap: 10vw;
  }

  .orange-bubble-right,
  .orange-bubble-left,
  .blue-bubble-right,
  .blue-bubble-left {
    width: 24vw;
    height: 19vw;
  }
}

/* desktops */
@media (max-width: 1200px) {
  html {
    font-family: Openhuninn;
  }

  #nav-backdrop {
    position: fixed;
    inset: 0;
    z-index: 2;
    display: block;
    /* background-color: #777; */
  }

  .navbar-wrapper {
    /*
        * .logo.header width: 270px
        * nav width: 622px
         */
    --navbar-wrapper-width: calc(270px + 622px);
    --navbar-wrapper-gap: calc(100vw - var(--navbar-wrapper-width));
    gap: var(--navbar-wrapper-gap);
  }

  ul {
    max-width: 622px;
    gap: 20px;
    width: fit-content;
  }

  .card-wrapper {
    --card-wrapper-repeat: 2;
    position: relative;
    top: unset;
    left: unset;
    transform: unset;
    margin: 30px auto 0;
  }

  .page-wrapper,
  .btn-marketing-wrapper.lower {
    position: relative;
    top: unset;
    left: unset;
    transform: unset;
    margin: 30px auto 0;
  }

  .hot-content-container {
    margin-top: 30px;
  }

  .marketing-banner+.btn-marketing-wrapper.upper+.card-wrapper {
    height: fit-content;
  }
}

@media (max-width: 1000px) {
  .main-content-wrapper {
    /*
        * left-side width: 668px
        * right-side width: 154px
         */
    --main-content-wrapper-width: 882px;
    width: fit-content;
    gap: calc(100vw - var(--main-content-wrapper-width));
    justify-content: unset;
  }
}

@media (max-width: 768px) {
  html {
    scroll-padding-top: 200000rem;
  }

  :root {
    --header-height: 8rem;
  }


  nav {
    position: absolute;
    display: block;
    right: 0;
    top: 8.0rem;
    width: 20rem;
    height: 34rem;
    background-image: url(./../assets/mobile/header/menu_bg.webp);
    transition: transform 0.2s ease-in-out;
    background-size: contain;
    background-repeat: no-repeat;
    transform-origin: top right;
    box-sizing: border-box;
    padding: 4rem 0;
    transform: scale(0);
  }

  nav.active {
    transform: scale(1);
    z-index: 3;
  }

  .nav-button>.bubble {

    filter:
      drop-shadow(1px 0px 0px rgba(255, 255, 255, 1)) drop-shadow(0px 1px 0px rgba(255, 255, 255, 1)) drop-shadow(-1px 0px 0px rgba(255, 255, 255, 1)) drop-shadow(0px -1px 0px rgba(255, 255, 255, 1));
  }

  .nav-button>.nav-text-wrapper {
    color: white;
  }

  .nav-text-wrapper>div:first-child {
    margin-bottom: -0.5rem;
  }

  ul {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    gap: unset;
    margin: 0 auto;
  }

  li {
    --header-btn-width: 12.3rem;
    --header-btn-height: 3.3rem;
    width: var(--header-btn-width);
    height: var(--header-btn-height);
  }

  .btn-layout {
    --fixed-btn-width: 11.5rem;
    --fixed-btn-gap: 2rem;
    position: fixed;
    width: calc(var(--fixed-btn-width) * 3 + var(--fixed-btn-gap) * 2);
    height: 3.7rem;
    bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 0.7rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: calc(var(--header-z-index) + 1);
  }

  .fixedBtn {
    position: relative;
    width: var(--fixed-btn-width);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: none;
  }

  .fixedBtn:focus-visible {
    outline: none;
  }

  .fb-btn {
    background-image: url(./../assets/mobile/header/fb.webp);
  }

  .ig-btn {
    background-image: url(./../assets/mobile/header/ig.webp);
  }

  .email-btn {
    background-image: url(./../assets/mobile/header/email.webp);
  }

  .banner-wrapper {
    --banner-top-offset: 100px;
    filter: drop-shadow(2px 2px 4px rgba(0 0 0/0.5));
  }

  .banner {
    width: 100%;
    height: 15.3rem;
  }

  .marketing-banner {
    margin-top: 8rem;
    z-index: 10;
    position: relative;
  }


  .btn-marketing-wrapper.upper,
  .btn-marketing-wrapper.lower {
    --btn-marketing-width: 13rem;
    --btn-marketing-height: 4rem;
    position: relative;
    margin-top: 13rem;
    width: calc(var(--btn-marketing-width) * 2 + 5.4rem);
    justify-content: space-between;
    gap: unset;
    top: unset;
    left: unset;
    transform: unset;
  }

  .btn-marketing-wrapper.upper {
    flex-wrap: nowrap;
    align-content: space-between;
    height: fit-content;
  }

  .btn-marketing-wrapper.upper:has(>.btn-marketing.spots) {
    margin-bottom: 6rem;
  }

  .btn-marketing-wrapper.lower {
    margin: 4rem auto 0;
  }

  .btn-marketing-wrapper.upper>div:not(.btn-marketing) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
  }

  .btn-marketing-wrapper.upper>div:not(.btn-marketing):before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--theme-color-hex);
    height: 1px;
    width: 8rem;
  }

  .page-wrapper {
    position: relative;
    margin: 2rem auto 0;
    top: unset;
    left: unset;
    transform: unset;
    gap: 1rem;
  }

  .page-wrapper>div {
    width: 90vw;
    gap: 1rem;
  }

  .page-wrapper .page {
    border-width: 0.2rem;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    background-color: transparent;
    line-height: 1;
  }

  .page-wrapper .page.toFirst,
  .page-wrapper .page.toLast {
    width: 3.5rem;
  }

  .page-wrapper+.btn-marketing-wrapper {
    margin-top: 3rem;
  }

  .page-wrapper *a.active,
  .page-wrapper * button.active {
    font-size: 3rem;
  }

  .btn-marketing {
    --btn-marketing-height: 4rem;
    --btn-marketing-width: 13rem;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    margin: unset;
    white-space: nowrap;
  }

  .btn-marketing:not(div).active {
    background-color: var(--theme-color-hex);
    color: white;
  }

  .marketing-banner+.btn-marketing-wrapper.upper+.card-wrapper+.btn-marketing-wrapper.lower+.hot-content-container {
    margin-top: 5rem;
  }

  .card-wrapper {
    --card-height: fit-content;
    --card-wrapper-row-gap: 6rem;
    --card-wrapper-width: calc(370px * 3);
    position: relative;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100%;
    row-gap: 5rem;
    top: unset;
    left: unset;
    transform: unset;
  }

  .card-wrapper.no-card>h3 {
    font-size: 3rem;
  }

  .card {
    width: 80vw;
  }

  .card>div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .card-content {
    height: fit-content;
    text-align: center;
  }

  .card-footer {
    position: relative;
    justify-content: center;
    width: 100%;
    word-break: keep-all;
    height: fit-content;
  }

  .card-tag {
    text-align: left;
    line-height: 1.6;
    height: 1.6rem;
  }

  .hot-content-container {
    padding: 20rem 5rem 13rem;
    margin: 3rem 0 0;
    height: fit-content;
    background: unset;
    background-color: white;
    height: fit-content;
    box-sizing: border-box;
  }

  .hot-content-container::before,
  .hot-content-container::after {
    content: '';
    position: absolute;
    display: block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
  }

  .hot-content-container::before {
    background-image: url(./../assets/mobile/about/top_bg_decorate.webp);
    content: attr(data-title);
    top: 0;
    left: 0;
    height: 13rem;
    text-align: center;
    line-height: 32rem;
    font-size: 3.6rem;
    letter-spacing: 1rem;
    color: grey;
    background-position: left;
  }

  .hot-content:before {
    background-position: top;
    left: 0rem;
    top: 0;
    width: 2.5rem;
    height: 2.5rem;
  }

  .hot-content-container::after {
    background-image: url(./../assets/mobile/about/deco_blue.webp);
    bottom: -1px;
    right: -1px;
    height: 13rem;
    background-position: right;
  }

  .hot-content-container .main,
  .hot-content-container .main-en,
  .popular-content-container .main,
  .popular-content-container .main-en {
    display: none;
  }

  .hot-content-wrapper {
    position: relative;
    flex-direction: column;
    top: unset;
    left: unset;
    transform: unset;
    margin: 2rem auto 0;
    gap: 2rem;
  }

  .hot-left-side,
  .hot-right-side {
    padding: 0;
    width: 100%;
    height: fit-content;
    gap: inherit;
  }

  .hot-left-side>div,
  .hot-right-side>div {
    padding-top: 0;
    padding-left: 5rem;
    margin: 0;
    height: 7rem;
    font-size: 1.4rem;
    color: grey;
  }

  .hot-content {
    color: #53575a;
    width: 100%;
    padding: unset;
    padding-left: 5rem;
    height: 7rem;
    text-align: justify;
  }

  .hot-content::after {
    background: unset;
    background-color: var(--theme-color-hex);
    height: 1px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }

  .hot-content:last-child::after {
    display: block;
  }

  .hot-right-side .hot-content:last-child::after {
    display: none;
  }

  .hot-left-side>.hot-content:nth-child(1):before {
    background-image: url(./../assets/mobile/marketing/1_.webp);
  }

  .hot-left-side>.hot-content:nth-child(2)::before {
    background-image: url(./../assets/mobile/marketing/2_.webp);
  }

  .hot-left-side>.hot-content:nth-child(3)::before {
    background-image: url(./../assets/mobile/marketing/3_.webp);
  }

  .hot-right-side>.hot-content:nth-child(1)::before {
    background-image: url(./../assets/mobile/marketing/4_.webp);
  }

  .hot-right-side>.hot-content:nth-child(2)::before {
    background-image: url(./../assets/mobile/marketing/5_.webp);
  }

  .hot-right-side>.hot-content:nth-child(3)::before {
    background-image: url(./../assets/mobile/marketing/6_.webp);
  }

  .bubble-box {
    display: none;
  }

  .orange-bubble-product,
  .orange-bubble-view,
  .blue-bubble-seo,
  .blue-bubble-time {
    position: relative;
    box-sizing: border-box;
    font-size: 1.6rem;
    font-weight: 800;
    height: 16.5rem;
    width: 22rem;
    line-height: 1.8;
    text-align: center;
    user-select: none;
  }

  .orange-bubble-product,
  .orange-bubble-view {
    background-image: url(./../assets/index/orangeBubble.webp);
    color: var(--theme-color-hex);
  }

  .orange-bubble-product {
    padding: 6.5rem 0 0 0.8rem;
    margin-right: 0;
  }

  .orange-bubble-view {
    padding: 6.7rem 0 0 0.8rem;
    margin-left: 0;
  }

  .blue-bubble-seo,
  .blue-bubble-time {
    background-image: url(./../assets/index/blueBubble.webp);
    color: white;
  }

  .blue-bubble-seo {
    padding: 6rem 0.9rem 0 0rem;
    margin-left: auto;
  }

  .blue-bubble-time {
    padding: 5.3rem 1.5rem 0 0rem;
    margin-left: auto;
  }

  .bubble-box-mobile {
    margin: 3.5rem auto 0;
    width: calc(100% - 2rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .bubble-box-mobile>div {
    display: flex;
    flex-direction: column;
    gap: 19rem;
    margin: unset;
  }

  .bubble-box-mobile>div:last-child {
    position: relative;
    margin-top: 16rem;
    left: -6rem;
  }

  .orange-bubble-product::after,
  .orange-bubble-view::after,
  .blue-bubble-time::after,
  .blue-bubble-seo::after {
    content: '';
    display: block;
    position: absolute;
    width: 14rem;
    height: 14rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .orange-bubble-product::after {
    background-image: url(./../assets/mobile/about/productImage.webp);
    top: 1.3rem;
    left: 21rem;
  }

  .orange-bubble-view::after {
    background-image: url(./../assets/mobile/about/viewImage.webp);
    top: 1.3rem;
    left: 20.5rem;
  }

  .blue-bubble-time::after {
    background-image: url(./../assets/mobile/about/timeImage.webp);
    top: 3rem;
    left: -12rem;
  }

  .blue-bubble-seo::after {
    background-image: url(./../assets/mobile/about/seoImage.webp);
    top: 2.8rem;
    left: -12rem;
  }

  .tag {
    display: unset;
    letter-spacing: unset;
    font-size: inherit;
    flex-basis: 7rem;
    justify-content: center;
  }

  .btn-marketing-wrapper.content {
    width: 74vw;
    gap: unset;
    justify-content: space-between;
    margin: 5rem auto 0;
  }

  .btn-marketing-wrapper.content .btn-marketing {
    filter: unset;
    --btn-marketing-height: 4rem;
    --btn-marketing-width: 13rem;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
  }

  .btn-marketing {
    margin-left: auto;
    margin-right: auto;
  }

  .btn-marketing.spots {
    --btn-marketing-spots-width: 18rem;
    --btn-marketing-spots-offset: -2rem;
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
  }

  .btn-marketing.spots::before,
  .btn-marketing.spots::after {
    height: 10rem;
    top: 2rem;
    transform: unset;
  }

  .top-banner-wrapper {
    --banner-top-offset: 10rem;
    width: 96vw;
    margin: 0 auto;
    margin-top: calc(var(--banner-top-offset) + 3rem);
    top: unset;
  }

  .top-banner {
    width: 100%;
    height: auto;
  }

  .triangle-range_orange {
    height: 2rem;
    width: auto;
    margin: 1rem auto;
  }

  .main-content-wrapper {
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .content-left-side {
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
    text-align: center;
  }

  .content-title {
    position: relative;
    font-size: 3.5rem;
    padding: 0;
    height: fit-content;
  }

  .content-title::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3rem;
    height: 2rem;
    width: 100%;
    background-image: url(./../assets/mobile/content/flower_blue.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .content-misc {
    margin-top: 5rem;
    font-size: 1.5rem;
    height: fit-content;
    align-items: flex-end;
  }

  .content-tags {
    --tag-size: 1.5rem;
    --tag-column-gap: 2.8rem;
    --tag-row-gap: 1.5rem;
    width: -moz-fit-content;
    width: fit-content;
    word-break: break-word;
    flex-wrap: wrap;
    height: fit-content;
    font-size: var(--tag-size);
    column-gap: var(--tag-column-gap);
    row-gap: var(--tag-row-gap);
  }

  .content-date-wrapper {
    font-size: inherit;
  }

  .content-main-content {
    width: 100%;
    letter-spacing: 2px;
    line-height: 1.5;
    font-size: 2rem;
    margin-top: 1rem;
  }

  .content-main-content img {
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  .content-main-content p {
    text-align: inherit;
    line-height: inherit;
    font-size: inherit;
  }

  .content-main-content h1 {
    font-size: 3.5rem;
  }

  .content-main-content h2 {
    font-size: 3rem;
  }

  .content-main-content h3 {
    font-size: 2.5rem;
  }

  .content-main-content h4 {
    font-size: 2rem;
  }

  .content-main-content button {
    border-radius: 1rem;
    padding: 1rem 2rem;
    box-sizing: border-box;
    height: 100%;
    font-weight: bolder;
    filter: drop-shadow(0 4px 1px rgb(229, 164, 60));
  }

  .content-right-side {
    width: 100%;
    margin: 5rem auto 3rem;
  }

  .content-right-side.content {
    display: none;
  }

  .content-right-side.bottom {
    display: flex;
  }

  .hot-trend {
    background-image: url(./../assets/mobile/content/hot.webp);
    height: 4rem;
  }

  .hot-tag-wrapper {
    width: 30%;
    column-gap: 100%;
    row-gap: 2rem;
    margin: 1rem auto 0;
    padding: unset;
    justify-content: space-evenly;
    font-size: 1.5rem;
  }

  .popular-content-container {
    background: unset;
    background-color: #fff;
    height: fit-content;
    margin: 2rem 0 0;
    padding: 20rem 5rem 13rem;
    box-sizing: border-box;
  }

  .popular-content-container::before,
  .popular-content-container::after {
    content: '';
    position: absolute;
    display: block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
  }

  .popular-content-container::before {
    background-image: url(./../assets/mobile/about/top_bg_decorate.webp);
    content: attr(data-title);
    top: 0;
    left: 0;
    height: 13rem;
    text-align: center;
    line-height: 32rem;
    font-size: 3.6rem;
    letter-spacing: 1rem;
    color: grey;
    background-position: left;
  }

  .popular-content-wrapper {
    position: relative;
    width: 100%;
    top: unset;
    left: unset;
    transform: unset;
  }

  .popular-content:before {
    background-position: top;
    left: 0rem;
    top: 0;
    width: 2.5rem;
    height: 2.5rem;
  }

  .popular-content-container::after {
    background-image: url(./../assets/mobile/about/deco_blue.webp);
    bottom: 0;
    right: 0;
    height: 13rem;
    background-position: right;
  }

  .popular-content>div {
    gap: 1rem;
    justify-content: unset;
    width: 100%;
    height: 9rem;
    margin: unset;
  }

  .popular-content::after {
    background: unset;
    background-color: var(--theme-color-hex);
    height: 1px;
    width: 85%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2rem;
  }

  .popular-content-image {
    width: 40%;
    height: 100%;
    flex-shrink: 0;
  }

  .popular-content-title {
    font-size: 1.5rem;
    color: grey;
    width: 50%;
  }

  .footer-wrapper {
    height: 36rem;
    margin-top: 0;
    padding-top: 3rem;
    box-sizing: border-box;
  }

  .footer-wrapper.marketing {
    margin-top: 4rem;
  }

  .footer-wrapper.content {
    margin-top: 2rem;
  }

  .footer-box {
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    height: fit-content;
    justify-content: center;
    margin: unset;
    width: calc(100% - 3.6rem);
  }

  .left-side,
  .right-side {
    width: 100%;
    line-height: 1;
  }

  .left-side {
    width: 100%;
    align-items: center;
    gap: 1.5rem;
    font-size: 1rem;
    letter-spacing: 0.2rem;
  }

  .right-side {
    font-size: 0.9rem;
    align-items: center;
    gap: 1rem;
  }

  .button-box {
    flex-direction: row;
    width: fit-content;
    gap: 1.5rem;
  }

  .contact-us-btn {
    font-size: 2rem;
    height: 3.6rem;
    line-height: 3.6rem;
  }

  .contact-us-btn::before,
  .contact-us-btn::after {
    border-radius: 0.2rem;
    height: 0.1rem;
    width: 10.5rem;
  }

  .social-btn-box {
    width: unset;
    gap: 1.5rem;
  }

  .social-btn-box>a {
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    background-size: 100%;
    cursor: pointer;
  }

  .copyright {
    text-align: center;
    white-space: pre;
    line-height: 2;
  }

  .btn-marketing-wrapper.lower .btn-marketing,
  .btn-marketing {
    filter: unset;
  }

}

.ellipsis {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  text-align: left;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}