.hamburger {
    --hamburger-height: 2.5rem;
    --hamburger-width: 2.3rem;
    position: absolute;
    bottom: 1.5rem;
    right: 3.2rem;
    width: var(--hamburger-width);
    height: var(--hamburger-height);
    flex-direction: column;
    justify-content: space-between;
    display: none;
    z-index: calc(var(--header-z-index) + 1);
}

.hamburger>input {
    position: absolute;
    appearance: none;
    margin: unset;
    padding: unset;
    width: var(--hamburger-width);
    height: var(--hamburger-height);
    cursor: pointer;
    z-index: 1;
}

.hamburger>span {
    display: block;
    width: calc(var(--hamburger-width) - 0.2rem);
    height: 0.1rem;
    background-color: var(--theme-color-hex);
    border: 0.1rem solid var(--theme-color-hex);
    border-radius: 1rem;
    z-index: 0;
}

.hamburger-check:checked~span:nth-child(3) {
    opacity: 0;
}

.hamburger-check:checked~span:nth-child(2) {
    width: calc(calc(var(--hamburger-width) - 0.2rem) * 1.414);
    transform-origin: top left;
    transform: rotate(45deg);
    /* transform: translateY(1.15rem) rotate(-45deg); */
}

.hamburger-check:checked~span:nth-child(4) {
    width: calc(calc(var(--hamburger-width) - 0.2rem) * 1.414);
    transform-origin: bottom left;
    transform: rotate(-45deg);
    /* transform: translateY(-1.15rem) rotate(45deg); */
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }
}