.tag {
  position: relative;
  /* font-size: 13.5px; */
  color: #f88d2a;
  letter-spacing: 1px;
  /* margin-left: 32px; */
  display: flex;
  flex-direction: row;
  gap: 2px;
  letter-spacing: 1px;
  white-space: nowrap;
  cursor: pointer;
}

.tag::before {
  position: relative;
  content: attr(data-tag);
  width: fit-content;
  height: 14px;
}

@media (max-width: 768px) {
  .tag {
    font-size: inherit;
    flex-basis: 7rem;
    justify-content: center;
  }
}